<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Palindrome Exercise</h3>
            <div class="row">
                <p>This exercise will tell you if a certian word is a palindrome</p>
            </div>
        </div>
    </div>

    <hr />

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">Type a word</div>
            <div class="col-md-6">
                <input type="text" id="input1" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button id="btnCalc1" class="btn btn-success btnWide">Calculate</button>
            </div>

            <br />

            <div class="col-md-3">
                <button id="btnClear4" class="btn btn-danger btnWide">Clear</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">Results</div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <p id="output1"></p>
            </div>
        </div>
    </div>
</div>